/* /* /* Import Tailwind CSS utilities
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add custom styles here */
/*.max-w-4xl {
  max-width: 40rem;
  margin: 40px auto;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

input[type="radio"] {
  margin-right: 10px;
}

input[type="radio"]:checked + label {
  font-weight: bold;
  color: #337ab7;
}

.flex.flex-wrap > div {
  margin-bottom: 20px;
}

.flex.flex-wrap > div label {
  margin-left: 10px;
}

button[type="submit"] {
  background-color: #337ab7;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #23527c;
}

@media (max-width: 768px) {
 .max-w-4xl {
    margin: 20px auto;
  }
  label {
    font-size: 14px;
  }
  input, select, textarea {
    font-size: 14px;
  }
}   